wire
  styles
    style#tall(height="100%")
    style#full(width="100%" height="100%")
  main
    panel#header(width="100%" height="16%" background="CFDDA8")
      each val, index in urls
        .tall(name="#{val[0]}" rightof="#{index?urls[index-1][0]:''}" width="#{100/urls.length}%" onclickup="goto#{val[0]}")
          text(text="#{val[0]}")
    panel(bottomof="header" height="84%" width="100%" background="CFDDA8")
      web.full#web(url=urls[0][1] alias="WEB")
  actions
    each val, index in urls
      action(name="goto#{val[0]}")
        load(url="#{val[1]}" target="WEB")